<!--
  ~ Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazon.alexa.android.extension.discovery">


    <!-- clients need permission-->
    <uses-permission android:name="com.amazon.alexa.extensions.permission.SKILL" />

    <!-- application for debug services tests-->
    <application>

        <!-- A basic extension service supports the extension Intent and specifies the extension
        uri known to documents -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Simple"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:simple:10" />
        </service>

        <!-- A basic extension service supports the extension Intent and specifies the extension
        uri known to documents -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Simple2"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.ALIAS"
                android:value="simple2" />
        </service>

        <!-- A multi extension service supports the extension Intent can support multiple extensions
        defined in a resource file -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Multi"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:resource="@array/extensionURI" />
        </service>

        <!-- An extension service supports may require runtime capabilities -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Capability"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>

            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:capability:10" />
            <meta-data
                android:name="com.amazon.alexa.extensions.CAPABILITY"
                android:value="TESTEXTENSIONCAP" />
        </service>

        <!-- Extensions may run in the same process or declare an external process -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Remote"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION"
            android:process="com.amazon.extension.testprocess">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:remote:10" />
        </service>

        <!-- This test service returns null bind -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$FailCom"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:failcom:10" />
        </service>

        <!-- This test service crashes -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$FailDisconnect"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION"
            android:process="com.amazon.extension.testprocessdisconnect">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:faildisconnect:10" />
        </service>

        <!-- This test service returns null bind -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$FailDied"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION"
            android:process="com.amazon.extension.testprocessdied">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:faildied:10" />
        </service>

        <!-- This test service used for mocking -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Latch"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="alexatest:latch:10" />
        </service>

        <!-- This test service used for mocking -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$MultiLatch"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:resource="@array/extensionLatchURI" />
        </service>

        <!-- This test service used for mocking -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$Deferred"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>

            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:value="@string/deferred_extension_uri" />
            <meta-data
                android:name="com.amazon.alexa.extensions.DEFINITION"
                android:value="@string/definition" />
        </service>

        <!-- This test service used for mocking -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$DeferredMulti"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>

            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:resource="@array/extensionDeferredMulti" />
            <meta-data
                android:name="com.amazon.alexa.extensions.DEFINITION"
                android:resource="@array/extensionDeferredDefinitionMulti" />
        </service>

        <!-- This test service used for mocking -->
        <service
            android:name="com.amazon.alexa.android.extension.discovery.test.TestService$DeferredMultiMismatch"
            android:permission="com.amazon.alexa.extensions.permission.EXTENSION">
            <intent-filter>
                <action android:name="com.amazon.alexa.extensions.ACTION" />
            </intent-filter>

            <meta-data
                android:name="com.amazon.alexa.extensions.EXTENSION"
                android:resource="@array/extensionDeferredMultiMismatch" />
            <meta-data
                android:name="com.amazon.alexa.extensions.DEFINITION"
                android:resource="@array/extensionDeferredMultiDefinitionMismatch" />
        </service>
    </application>

</manifest>
