<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amazon.apl.android.test">

    <permission
        android:name="com.amazon.alexa.extensions.permission.SKILL"
        tools:node="remove" />
    <permission
        android:name="com.amazon.alexa.extensions.permission.EXTENSION"
        tools:node="remove" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.amazon.apl.android.test.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
