<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazon.alexa.android.extension.discovery">

    <permission
        android:name="com.amazon.alexa.extensions.permission.SKILL"
        android:label="Alexa Skill Permission"
        android:permissionGroup="com.amazon.alexa.extensions.permission.group.SKILL"
        android:protectionLevel="signature|system" />

    <permission
        android:name="com.amazon.alexa.extensions.permission.EXTENSION"
        android:label="Alexa Extension Permission"
        android:permissionGroup="com.amazon.alexa.extensions.permission.group.SKILL"
        android:protectionLevel="signature|system" />

    <!-- Amazon Alexa Extensions permissions required for service binding to any extension runtime -->
    <permission-group android:name="com.amazon.alexa.extensions.permission.group.SKILL" />


</manifest>
